/* Estilo do site Museu de Zoologia Virtual
*/


body{
	font-family: "Montserrat";
}

* {
  box-sizing: inherit;
}
/*///////////// Cabeçalho */

.reestrutura{
	margin: 30px 30px 30px 30px;
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.parent{
	/*background: blue;*/
	display: flex;
	width: 100%;
	justify-content: center;
	/**/
}

.parent-1{
	display: flex;
	width: 80%;
	margin-top: 30px;
}

.parent-2{
	display: flex;
	width: 100%;
	margin-top: 5px;
	margin-left: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #f4f4f4;
	border: 2px solid #efefef;
	border-radius: 5px;
	transition: 1s ease;

}

.parent-2:hover{
	transform: scale(1.1);
}

@media only screen and (max-width: 800px){
	.parent-1{
		flex-direction: column;
	}


}

/*
.parent-1 a:not(:last-child){
	border-right: none;
}
*/
.childparent{
	/*background: green;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.childparent-1{
	/*background: green;*/
	display: flex;
	flex-direction: column;
	justify-content: center;	
}



/*imagem */


.child-img{
	/*background: rgb(1,150,255);*/
	width: 80%;
	justify-content: center;
	margin-top: 10px;
}

.child-img img{
	width: 100%;
	height: 100%;
}

.container-img {
	position: relative;
	max-width: 100px;
	margin: 0 auto;
}

.container-img img{vertical-align: middle;}

.container-img .content-img {
	position: absolute;
	bottom: 0;
	background-color: rgba(0,0,0,0);
	color: #000;
	width: 100%; 
	text-align: center;
	margin-top: 10px;
}
/* navbar */
.butn-group {
	padding-top: 50px;
	padding-bottom: 20px;
	/*background: rgb(0,150,0);*/
}

.butn-group a{
	background-color: rgba(0,0,0,0);
	padding: 1px 12px;
	cursor: pointer;
	width: 100%;
	display: block;
}

.butn-group a:not(:last-child){
	border-bottom: none;
}

/* ---- CONTAINER ----*/

.container {
	padding: 32px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

/* conteudo */

.conteudo {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

a {
	text-decoration: none;
}

a:hover {
	color: blue;
}

.card {
	width: 300px;
	height: 400px;
	margin: 40px;
	background-color:#fdfdfd;
	color: black;
	box-shadow: 1px 1px 9px #a0a0a0;
	
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	
	transition: 1s ease;
}

.card a:visited {
 	color: black;
}

.card:hover {
	color: black;
	/*width: 325px;
	height: 425px;*/
	transform: scale(1.1);
}

.card img {
	margin: 0 auto;
}


.parte {
	margin: 0 auto;
}

/* por dentro/recomenda */


.canal{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 10px 10px 10px;
}

.canal h3{
	padding: 10px 10px 10px 10px;
}

.p-recomenda{
	display: flex;
	flex-direction: column;
	justify-content: center; /* horizontal center */
	align-items: center; /* vertical center  */
}

.p-recomenda iframe{
	padding-top: 10px;
	padding-bottom: 10px;
}


.card-1 {
	padding: 10px 10px 10px 10px;
	background-color:#fdfdfd;
	color: black;
	box-shadow: 1px 1px 9px #a0a0a0;
	
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	
	transition: 1s ease;
}

.card-1:hover {
	color: black;
	transform: scale(1.1);
}



/* projeto */

.projeto {
	display: flex;
}

.titulo {
	display: flex;
}

.meio {
	display: flex;
	flex-direction: column;
}

.meio p {
	text-align: justify;
}

.texto {
	width: 50%;
}

.tablet{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*  equipe */

.equipe {
	display: flex;
}

.simbgrande {
	display: flex;
	justify-content: center;
	flex-direction: column;
}


/* footer */

.footer {
	display: flex;
	flex-direction: column;
}

.fundo {
	width: 97%;
	display: flex;
	justify-content: center;
	padding: 0px 20px 10px 20px;
	flex-direction: column;
}

.simbfooter {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 50px 20px 50px 20px;
}

.simbfooter img {
	margin-right: 40px;
	margin-left: 40px;
}


/* partes q desaparecem e reaparecem dependendo do tamanho da tela*/

.hid {
	display: none;
}

#simbib {
	width:216px;
	height:137px;
}

#simbmuseu {
	width:430px; 
	height:200px; 
}

#simbunicamp {
	width:159px;
	height:162px; 
}

#like{
	width:100px;
	height:100px;
}

#navbar{
	width:100px;
	height:130px;
}

/* cards */

#sauvas {
	width:244px;
	height:272px;
}

#sons {
	width:260px; 
	height:302px;
}

#borboleta {
	width:269px;
	height:294px;
}

#nemo {
	width:285px; 
	height:265px;
}

#animais {
	width:264px; 
	height:267px;
}

#mamiferos {
	width:264px;
	height:267px;
}

@media only screen and (max-width: 800px){
	.hidmobile {
		display: none !important;
	}

	.hid{
		display: block;
	}

	.butn-group {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 5px;
		padding-bottom: 30px;
	}

	.butn-group a{
		width: 25%;
		margin: 0 auto;
	}

	.container {
		padding: 20px;
		margin: 0 auto;
	}

	.conteudo{
		display: flex;
	}
	
	.card {
		width: 100%;/*300/3 = 100*/
		height: 10%;/*400/3 = 133*/
		margin-bottom: 0;
		margin-top: 5px;
		flex-direction: row;
	}
	
	.content-img {
		display: flex;
		justify-content: center;
		margin: 1px;
		height: 20px;
	}

	.container-img img{
		margin: 1px;
	}

	.child-img{
		width: 100%;
	}

	.fundo{
		width: 89%;
	}

	#fonteheader{
		font-size: 10px !important;
	}

	#navbar{
		width:70px;
		height:95px;
	}

	#like{
		width:50px;
		height:50px;
	}

	#simbib {
		margin-top: 10px;
		width:108px;
		height:67px;
	}

	#simbmuseu {
		margin-top: 10px;
		width:215px; 
		height:100px; 
	}

	#simbunicamp {
		margin-top: 10px;
		width:80px;
		height:81px; 
	}

	/* cards */

	#sauvas {
		width:61px;/*244/4 = 61*/
		height:68px;/*272/4 = 68*/
	}

	#sons {
		width:65px;/*260/4=65*/ 
		height:75px;/*302/4=75*/
	}

	#borboleta {
		width:134px;/*269/2=134*/
		height:147px;/*294/2=147*/
	}

	#nemo {
		width:142px; /*285/2=142*/
		height:132px;/*265/2=132*/
	}

	#animais {
		width:132px; /*264/2=132*/
		height:133px;/*267/2=133*/
	}

	#mamiferos {
		width:132px;/*264*/
		height:133px;
	}
}

/**teste*/


